*{
	margin: 0;
	padding: 0;
}
header{
	display: block;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
header > nav > a{
	color: #023859;
	font-size: 1.1em;
}
nav > a:hover{
	color: #00CBE7;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
a{
	text-decoration: none;
	color: #000;
}
nav{
	position: fixed;
	display: block;
	background-color: #ECF6FF;
	width: 100%;
	border-bottom: 2px solid;
	font-size: 1.1em;
	height: 30px;
	padding-top: 5px;
}
p{
	text-align: justify;
}
.contenedor{
	height: 100%;
	width: 83%;
	margin: auto;
	background-color: #fff;
	text-align: justify;
}
.lateral ul{
	position: fixed;
	left: 0;
	top: 200px;
	display: block;
	background-color: #1F3A6E;
	max-width: 140px;
	max-height: 250px;
	padding-left: 7px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 5px;
	-webkit-border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-ms-border-radius: 0 8px 8px 0;
	-o-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
	overflow: hidden;
}
.lateral ul li a{
	color: #fff;
}
.lateral ul:hover{
	background-color: #040030;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.lateral ul a:hover{
	color: #00CBE7;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.video{
	padding-top: 10px;
	display: block;
	padding: auto;
	margin: auto;
}
.video1{
	padding-top: 20px;
}
.video2{
	padding-top: 10px;
	float: left;
}
.video3{
	padding-top: 10px;
	float: right;
}
#enlace-face a{
	text-decoration: underline;
	color: #040030;
}
#lista ul li{
	list-style-type: disc;
}

/*Imagenes*/

.img-app{
	float: left;
	padding-right: 10px;
	max-width: 300px;
	max-height: 300px;
}
.img-wats{
	float: left;
	padding-right: 10px;
	max-width: 80px;
	max-height: 80px;
}
.img-servers{
	float: left;
	padding-right: 10px;
	max-height: 100px;
	max-width: 200px;
}
.img-insta-logo{
	float: left;
	padding-right: 10px;
	max-width: 100px;
	max-height: 100px;
}
.img-insta1{
	float: left;
	padding-right: 10px;
	max-width: 200px;
	max-height: 200px;
}
.img-snap-logo{
	float: left;
	margin-right: 10px;
	max-width: 100px;
	max-height: 100px;
}
.img-face-logo{
	float: left;
	margin-right: 10px;
	max-width: 160px;
	max-height: 100px;
}
.img-shazam-logo{
	float: left;
	margin-right: 10px;
	max-width: 150px;
	max-height: 150px;
	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-ms-border-radius: 8px 8px 8px 8px;
	-o-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
}
.img-youtube-logo{
	float: left;
	margin-right: 30px;
	max-width: 150px;
	max-height: 150px;
	margin-bottom: 30px;
}
.img-youtube-funciona{
	display: block;
	margin: auto;
	padding: auto;
	max-width: 350px;
	max-height: 250px;
}
.img-maps-logo{
	float: left;
	max-width: 150px;
	max-height: 150px;
	padding-right: 10px;
}
.img-data-center{
	float: left;
	max-width: 210px;
	max-height: 200px;
	padding-right: 10px;
}
.img-snap-funciona{
	display: block;
	margin: auto;
	padding: auto;
	margin-top: 20px;
	-webkit-border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-ms-border-radius: 30px 30px 30px 30px;
	-o-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;
}
.img-face-mobil{
	display: block;
	margin: auto;
	padding: auto;
	margin-top: 20px;
	max-height: 375px;
}